<html>
<head>
    <link rel="stylesheet" href="style/base.css" type="text/css" />
</head>
<body>
    <div class="document">
        <div class="donemessagelarge">
            <strong>Welcome to Galaxy test server <%= @name %>!!!</strong>
            <hr>
            <p>
                Code for this test server can be cloned from <%= @source %> (branch <%= @branch %>).
            </p>

            <p>
                Don't put data you care about here, <b>it will be lost</b>!
            </p>
        </div>
        <br/>
    </div>
</body>
</html>
